@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
}


.sidebar{
    background-color: rgb(188, 181, 181);
    width: 12vw;
    font-family: "Lato", sans-serif;
    height: auto;
}

.sidebar nav{
    padding: 30px;

}

.sidebar nav li{
    list-style: none;
    font-size: 18px;
    padding: 30px 0;

}

.sidebar nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.main{
    background-color: white;
    width: 90vw;
}

.container{
    display: flex;
}

.inFoContainer{
    background-color:white;
    height: 40vw;
    width: 75vw;
    /*margin of the container inside the main container on the right from the sidebar*/
    margin: 70px auto;
    display: flex;
    justify-content: space-around;

}

.hello{
    font-size: 55px;
    font-family: "Source Code Pro", monospace;
}

.name{
    font-size: 35px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.about{
    font-size: 30px;
    font-family: "Source Code Pro", monospace;
}

.moreabout{
    font-size: 25px;
    font-family: "Source Code Pro", monospace;

}

.buttons button{

    border-radius: 20px;
    padding: 10px 14px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 25px 5px 5px; /* top, horizontal, bottom */
    cursor: pointer;

}

.nightMode button{
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000;
}
.nightMode {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.moon-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.moon-btn img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.buttons button:hover{
    background-color: white;
    color: dodgerblue;
}



.devPic img{
    width: 448px;
}

.devInfo{
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}

/*------------------------------------------------------Contact me page----------------------------------------------------*/
.page-wrapper{
    display: flex;
}

.contactMe_sidebar{
    background-color: rgb(188, 181, 181);
    width: 14vw;
    font-family: "Lato", sans-serif;
    height: auto;
}

.contactMe_sidebar nav{
    padding: 25px;

}

.contactMe_sidebar nav li{
    list-style: none;
    font-size: 18px;
    padding: 30px 0;

}

.contactMe_sidebar nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.contact-content {
    padding: 5px;
    width: 60%;
}

.mainContactMe {
    margin-left: 8vw; /* Same as sidebar width */
    padding: 50px;
    width: 88vw;
}


/*-----------------------------------------------Projects page---------------------------------------------------------------*/

.project-container {
    padding: 30px;
    background-color: red;
    border-radius: 0px;
    margin: 0;
}

.project-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.project-text {
    margin-top: 25px;
    flex: 1 1 60%;
    padding-right: 20px;
    margin-bottom: 15px;
}

.project-image {
    flex: 1 1 35%;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}



/*--------------------------------------------Experience page------------------------------------------------------------------*/

.internships{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    font-size: 14px;
    font-family: "Source Code Pro", monospace;
    font-weight: bold;

    
}

.internship1{
    padding: 20px;
    background-color: red;
    border: 1px solid #ccc;
    height: 200px;
}

.internship1 li{
    padding: 8px;
}

.internship2{
    padding: 20px;
    background-color: blue;
    border: 1px solid #ccc;
    height: 200px;
}
.internship2 li{
    padding: 8px;
}

.internship3{
    padding: 20px;
    background-color: green;
    border: 1px solid black;
    height: 200px;
}
.internship3 li{
    padding: 8px;
}


.experience_sidebar{
    background-color: rgb(188, 181, 181);
    width: 12vw;
    font-family: "Lato", sans-serif;
    height: auto;
}

.experience_sidebar nav{
    padding: 30px;

}

.experience_sidebar nav li{
    list-style: none;
    font-size: 18px;
    padding: 30px 0;

}

.experience_sidebar nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}




/*---------------------------------------------About_Me-----------------------------------------------------------------------*/

.aboutMe_sidebar{
    background-color: rgb(188, 181, 181);
    width: 12vw;
    font-family: "Lato", sans-serif;
    height: 100vh;
}
.aboutMe_sidebar nav{
    padding: 30px;

}

.aboutMe_sidebar nav li{
    list-style: none;
    font-size: 18px;
    padding: 30px 0;

}

.aboutMe_sidebar nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}



.aboutMe_main{
    margin: 35px;
}
